version: '2.1'
orbs:
  terraform: circleci/terraform@3.2.0
workflows:
  deploy_infrastructure:
    jobs:
      - terraform/validate:
          checkout: true
          context: terraform
      - terraform/plan:
          checkout: true
          context: terraform
          persist-workspace: true
          requires:
            - terraform/validate
      - terraform/apply:
          attach-workspace: true
          context: terraform
          filters:
            branches:
              only: main
          requires:
            - terraform/plan
      # - hold-apply:
      #     type: approval
      #     requires:
      #       - terraform/apply
      # - terraform/destroy:
      #     checkout: true
      #     attach-workspace: true
      #     context: terraform
      #     requires:
      #       - hold-apply
      #       - terraform/init
                      

# VS Code Extension Version: 1.0.2